@{
    ViewData["Title"] = "Add Burial";
}

@model FormViewModel


<body class="job-single-page">
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper-->
        <div class="container heading-content">
            <h2 class="headline">@ViewData["Title"]</h2>
            <div class="meta">Please fill out the requested Information</div>
        </div><!--//container-->
    </section><!--//heading-section-->

    <div id="job-single-block">
        <div class="job-details">
            <div class="cta-container text-center">
                <!--Form that will pass the data to the next view-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 mx-auto shadow-lg m-5 rounded" style="border: 3px solid black; background-color: #E4D4C8;max-width: 80%;">
                            <form asp-action="AddBurial" method="post" class="p-3 pb-7 pt-3">

                                <!--Row 0-->
                                <div class="form-group row pt-3" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--Burials Heading item-->
                                    <div class="col-sm-3">
                                        <h1 class="col-sm-6" style="width: 100%!important; font-weight:bold">Burials</h1>
                                    </div>

                                    <!--Metrics Heading item-->
                                    <div class="col-sm-3">
                                        <h1 class="col-sm-6" style="width: 100%!important; font-weight:bold">Metrics</h1>
                                    </div>

                                    <!--Observations Heading item-->
                                    <div class="col-sm-3">
                                        <h1 class="col-sm-6" style="width: 100%!important; font-weight:bold">Observations</h1>
                                    </div>
                                </div>

                                <!--Row 1-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--Burial N/S item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.BurialNs" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Burial N/S</label>
                                        <select class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.BurialNs" type="text">
                                            <option value="">--</option>
                                            <option value="N">N (North)</option>
                                            <option value="S">S (South)</option>
                                        </select>
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.BurialNs"></span>
                                    </div>

                                    <!--SouthToHead item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.EastToHead" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">South To Head (m)</label>
                                        <input class="form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.EastToHead" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.EastToHead"></span>
                                    </div>

                                    <!--AritifactFound2 item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.AritifactFound2" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Burial Goods</label>
                                        <select class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.AritifactFound2" type="text">
                                            <option value="">--</option>
                                            <option value="Y">Y (Yes)</option>
                                            <option value="N">N (No)</option>
                                        </select>
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.AritifactFound2"></span>
                                    </div>

                                </div>

                                <!--Row 2-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--Low N/S item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.LowNs" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Low N/S</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.LowNs" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.LowNs"></span>
                                    </div>

                                    <!--SouthToFeet item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.EastToFeet" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">South To Feet (m)</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.EastToFeet" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.EastToFeet"></span>
                                    </div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>

                                    <!--Photo item-->
                                    <!--<div class="col-sm-3">
                                        <label asp-for="Model.Burials.Photo" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Photo</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="Model.Burials.Photo" type="text" />
                                        <span class="text-danger pl-3" asp-validation-for="Model.Burials.Photo"></span>
                                    </div>-->
                                </div>

                                <!--Row 3-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--High N/S item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.HighNs" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">High N/S</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.HighNs" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.HighNs"></span>
                                    </div>

                                    <!--WestToHead item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.WestToHead" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">West To Head (m)</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.WestToHead" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.WestToHead"></span>
                                    </div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>
                                </div>

                                <!--Row 4-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--Burial E/W item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.BurialEw" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Burial E/W</label>
                                        <select class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.BurialEw" type="text">
                                            <option value="">--</option>
                                            <option value="E">E (East)</option>
                                            <option value="W">W (West)</option>
                                        </select>
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.BurialEw"></span>
                                    </div>

                                    <!--WestToFeet item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.WestToFeet" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">West To Feet (m)</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.WestToFeet" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.WestToFeet"></span>
                                    </div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>
                                </div>

                                <!--Row 5-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--Low E/W item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.LowEw" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Low E/W</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.LowEw" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.LowEw"></span>
                                    </div>

                                    <!--Length item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.Length" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Length (m)</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.Length" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.Length"></span>
                                    </div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>
                                </div>

                                <!--Row 6-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--High E/W item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.HighEw" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">High E/W</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.HighEw" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.HighEw"></span>
                                    </div>

                                    <!--BurialDepth item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.BurialDepth" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Burial Depth (m)</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.BurialDepth" type="number" step=".01" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.BurialDepth"></span>
                                    </div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>
                                </div>

                                <!--Row 7-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--BurialSubplot item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.BurialSubplot" class="col-sm-6 col-form-label text-right" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Area</label>
                                        <select class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.BurialSubplot" type="text">
                                            <option value="">--</option>
                                            <option value="NE">NE (North East)</option>
                                            <option value="NW">NW (North West)</option>
                                            <option value="SE">SE (South East)</option>
                                            <option value="SW">SW (South West)</option>
                                        </select>
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.BurialSubplot"></span>
                                    </div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>
                                </div>

                                <!--Row 8-->
                                <div class="form-group row" style="margin-bottom: 10px!important;justify-content:center!important">
                                    <!--BurialNum item-->
                                    <div class="col-sm-3">
                                        <label asp-for="@Model.Burials.BurialNum" class="col-sm-6 col-form-label text-left" style="text-align: left !important;width: 100%!important;padding-left:0px!important;font-weight:normal!important">Burial Number</label>
                                        <input class="col-sm-6 form-control" style="height: 35px!important; font-size: 14px!important;" asp-for="@Model.Burials.BurialNum" type="number" />
                                        <span class="text-danger pl-3" asp-validation-for="@Model.Burials.BurialNum"></span>
                                    </div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>

                                    <!--Hidden item-->
                                    <div class="col-sm-3" style="visibility:hidden"></div>
                                </div>

                                <button class="button btn btn-lg btn-light px-4 pt-2 float-right" style="font-size:medium!important;margin:10px!important">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--//job-details-->
    </div><!--//job-single-->
    <!-- Javascript -->
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/vanilla-back-to-top.min.js"></script>
    <script src="assets/plugins/smoothscroll.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>