@model Burial

@{
    ViewData["Title"] = "Burial Details";
}

<body class="job-single-page">
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper-->
        <div class="container heading-content">
            <h2 class="headline">@ViewData["Title"]</h2>
            <div class="meta">See details below</div>
        </div><!--//container-->
    </section><!--//heading-section-->

    <div id="job-single-block">
        <div class="job-details">
            <div class="cta-container text-center">
                <!--Form that will pass the data to the next view-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mx-auto shadow-lg m-5 rounded" style="border: 3px solid black; background-color: #E4D4C8;">
                            <div class="text-left">

                                <!--Row 1-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Location ID:</b> @Model.LocationId</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial N/S:</b> @Model.BurialNs</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Low N/S:</b> @Model.LowNs</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>High N/S:</b> @Model.HighNs</p></div>
                                </div>

                                <!--Row 2-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial E/W:</b> @Model.BurialEw</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Low E/W:</b> @Model.LowEw</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>High E/W:</b> @Model.HighEw</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Subplot:</b> @Model.BurialSubplot</p></div>
                                </div>
                                <!--Row 3-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Number:</b> @Model.BurialNum</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Gender:</b> @Model.Gender</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Hair Color:</b> @Model.HairColor</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Year Exc:</b> @Model.YearExc</p></div>
                                </div>

                                <!--Row 4-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Month Exc:</b> @Model.MonthExc</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Day Exc:</b> @Model.DayExc</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Head Direction:</b> @Model.HeadDirection</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Postcrania Trauma:</b> @Model.PostcraniaTrauma</p></div>
                                </div>

                                <!--Row 5-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Skull Year:</b> @Model.YrSkull</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Skull Month:</b> @Model.MtSkull</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Skull Day:</b> @Model.DSkull</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Field Book:</b> @Model.FieldBook</p></div>
                                </div>

                                <!--Row 6-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Field Book Page #:</b> @Model.FieldBookPgnum</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Dex Initials:</b> @Model.DexInitials</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Dec Initials:</b> @Model.DecInitials</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>BYU Sample:</b> @Model.ByuSample</p></div>
                                </div>

                                <!--Row 7-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Body Analysis:</b> @Model.BodyAnalysis</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Skull Mag:</b> @Model.SkullMag</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Postcrania Mag:</b> @Model.PostcraniaMag</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Skull Sex:</b> @Model.SexSkull</p></div>
                                </div>

                                <!--Row 8-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Skull Age:</b> @Model.AgeSkull</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Shelf Rack:</b> @Model.RackShelf</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Skull Trauma:</b> @Model.SkullTrauma</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Cribra Orbitala:</b> @Model.CribraOrbitala</p></div>
                                </div>

                                <!--Row 9-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Porotic Hyper:</b> @Model.PoroticHyperostosis</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Porotic Hyper Loc:</b> @Model.PoroticHyperostosisLoc</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Metopic Suture:</b> @Model.MetopicSuture</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Button Osteoma:</b> @Model.ButtonOsteoma</p></div>
                                </div>

                                <!--Row 10-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Ost Comment:</b> @Model.OsteologyUnknownComment</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Temp Mand Joint Osteo:</b> @Model.TemporalMandibularJointOsteoarthritis</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Linear Hypo Enamel:</b> @Model.LinearHypoplasiaEnamel</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Hill Burials:</b> @Model.HillBurialsA</p></div>
                                </div>

                                <!--Row 11-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Tomb:</b> @Model.Tomb</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>West To Head:</b> @Model.WestToHead</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>West To Feet:</b> @Model.WestToFeet</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Preserve:</b> @Model.BurialPreservation</p></div>
                                </div>

                                <!--Row 12-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Wrapping:</b> @Model.BurialWrapping</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Ac:</b> @Model.BurialAc</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Gend Meth:</b> @Model.BurialGendMeth</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Age Code:</b> @Model.AgeCode</p></div>
                                </div>

                                <!--Row 13-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Age Death:</b> @Model.BurialAgeDeath</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Age Meth:</b> @Model.BurialAgeMeth</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Hc:</b> @Model.BurialHc</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial St:</b> @Model.BurialSt</p></div>
                                </div>

                                <!--Row 14-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Len M:</b> @Model.LenM</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Len Cm:</b> @Model.LenCm</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Cluster:</b> @Model.Cluster</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Face Bundle:</b> @Model.FaceBundle</p></div>
                                </div>

                                <!--Row 15-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Ost Notes:</b> @Model.OsteologyNotes</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Depth:</b> @Model.BurialDepth</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>South To Head:</b> @Model.SouthToHead</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>South To Feet:</b> @Model.SouthToFeet</p></div>
                                </div>

                                <!--Row 16-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Length:</b> @Model.Length</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Art Found:</b> @Model.AritifactFound</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Art Found Desc:</b> @Model.AritifactFoundDesc</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Goods:</b> @Model.AritifactFound2</p></div>
                                </div>

                                <!--Row 17-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Burial Situation:</b> @Model.BurialSituation</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Sample Number:</b> @Model.SampleNumber</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Gender Ge:</b> @Model.GenderGe</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Ge Function:</b> @Model.GeFunction</p></div>
                                </div>

                                <!--Row 18-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Basliar Suture:</b> @Model.BasliarSuture</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Ventral Arc:</b> @Model.VentralArc</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Subpubic Angle:</b> @Model.SubpubicAngle</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Sciatic Notch:</b> @Model.SciaticNotch</p></div>
                                </div>

                                <!--Row 19-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Pubic Bone:</b> @Model.PubicBone</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Preaur Sulcus:</b> @Model.PreaurSulcus</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Medial Ip Ramus:</b> @Model.MedialIpRamus</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Dorsal Pitting:</b> @Model.DorsalPitting</p></div>
                                </div>

                                <!--Row 20-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Foreman Magnum:</b> @Model.ForemanMagnum</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Femur Head:</b> @Model.FemurHead</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Humerus Head:</b> @Model.HumerusHead</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Osteophytosis:</b> @Model.Osteophytosis</p></div>
                                </div>

                                <!--Row 21-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Pubic Symphysis:</b> @Model.PubicSymphysis</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Humerus:</b> @Model.Humerus</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Femur Length:</b> @Model.FemurLength</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Humerus Length:</b> @Model.HumerusLength</p></div>
                                </div>

                                <!--Row 23-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Tibia Length:</b> @Model.TibiaLength</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Robust:</b> @Model.Robust</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Supraorbital Ridges:</b> @Model.SupraorbitalRidges</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Orbit Edge:</b> @Model.OrbitEdge</p></div>
                                </div>

                                <!--Row 24-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Parietal Bossing:</b> @Model.ParietalBossing</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Gonian:</b> @Model.Gonian</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Nuchal Crest:</b> @Model.NuchalCrest</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Zygomatic Crest:</b> @Model.ZygomaticCrest</p></div>
                                </div>

                                <!--Row 25-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Cranial Suture:</b> @Model.CranialSuture</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Max Cranial Len:</b> @Model.MaximumCranialLength</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>MaximumCranialBreadth:</b> @Model.MaximumCranialBreadth</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Basion Bregma Height:</b> @Model.BasionBregmaHeight</p></div>
                                </div>

                                <!--Row 26-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Basion Nasion:</b> @Model.BasionNasion</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Basion Pros Length:</b> @Model.BasionProsthionLength</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Biz Diameter:</b> @Model.BizygomaticDiameter</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Nasion Prosthion:</b> @Model.NasionProsthion</p></div>
                                </div>

                                <!--Row 27-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Max Nasal Breadth:</b> @Model.MaximumNasalBreadth</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Interorbital Breadth:</b> @Model.InterorbitalBreadth</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Pres Index:</b> @Model.PreservationIndex</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Desc Of Taken:</b> @Model.DescriptionOfTaken</p></div>
                                </div>

                                <!--Row 28-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Estimate Age:</b> @Model.EstimateAge</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Estimate Living Stature:</b> @Model.EstimateLivingStature</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Tooth Attrition:</b> @Model.ToothAttrition</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Tooth Eruption:</b> @Model.ToothEruption</p></div>
                                </div>

                                <!--Row 29-->
                                <div class="form-group row mt-5" style="margin-bottom:0px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Pathology Anomalies:</b> @Model.PathologyAnomalies</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Epiphyseal Union:</b> @Model.EpiphysealUnion</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Hair Taken:</b> @Model.HairTaken</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Soft Tissue Taken:</b> @Model.SoftTissueTaken</p></div>
                                </div>

                                <!--Row 30-->
                                <div class="form-group row mt-5" style="margin-bottom:15px!important;margin-left:20px!important;margin-right:10px!important;justify-content:center!important">
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Bone Taken:</b> @Model.BoneTaken</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Tooth Taken:</b> @Model.ToothTaken</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Textile Taken:</b> @Model.TextileTaken</p></div>
                                    <div class="col-sm-3"><p style="margin-bottom:0px!important;"><b>Field Notes:</b> @Model.Notes</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--//job-details-->
        </div><!--//job-single-->
    </div>

    <!-- Javascript -->
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/vanilla-back-to-top.min.js"></script>
    <script src="assets/plugins/smoothscroll.min.js"></script>
    <script src="assets/js/main.js"></script>

    <div class="m-3">
        <a class="button btn btn-sm btn-secondary px-4 pt-2 float-right" style="font-size:small!important;margin:10px!important" asp-action="BurialList">Back to Burial List</a>
        <a class="button btn btn-sm btn-secondary px-4 pt-2 float-right" style="font-size:small!important;margin:10px!important" asp-action="EditBurial" asp-route-id="@Model.BurialId">Edit Burial Record</a>
    </div>

</body>