@{
    ViewData["Title"] = "Burial Page";
}

@model OperationDigger.Models.ViewModels.IndexViewModel
    <html>
    <head>
        <link rel="stylesheet" href="~/css/burialstyle.css">
        <link rel="stylesheet" href="~/js/site.js">
    </head>
    <body>
        <div>
            <vc:filter />
        </div>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <table class="table" id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-dark">Location</th>
                    <th scope="col" class="text-dark">BurialNs</th>
                    <th scope="col" class="text-dark">BurialEw</th>
                    <th scope="col" class="text-dark">LowEw</th>
                    <th scope="col" class="text-dark">HighEw</th>

                    <th scope="col" class="text-dark"></th>
                    <th scope="col" class="text-dark"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Burials)
                {
                    <tr>
                        <td class="text-dark">@x.LocationId</td>
                        <td class="text-dark">@x.BurialNs</td>
                        <td class="text-dark">@x.BurialEw.</td>
                        <td class="text-dark">@x.LowEw</td>
                        <td class="text-dark">@x.HighEw</td>
                    </tr>
                }
            </tbody>
        </table>
        <div page-info="@Model.PageNumbering"
             page-url-burialId="@Model.BurialId"
             page-classes-enabled="true"
             page-class="btn"
             page-class-normal="btn-primary"
             page-class-selected="btn-warning"
             class="btn-group pull-right m-1">
        </div>

    </body>
</html>



<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
        });
    });
</script>