@{
    ViewData["Title"] = "Burial Page";
}

@model OperationDigger.Models.ViewModels.IndexViewModel
<html>
<head>
    <link rel="stylesheet" href="~/css/burialstyle.css">
    <link rel="stylesheet" href="~/js/site.js">
</head>
<body>
    <div>
        <vc:filter />
    </div>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table class="table" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-dark">Location ID</th>
                <th scope="col" class="text-dark">South To Head</th>
                <th scope="col" class="text-dark">South To Feet</th>
                <th scope="col" class="text-dark">West to Head</th>
                <th scope="col" class="text-dark">West To Feet</th>
                <th scope="col" class="text-dark">Length</th>
                <th scope="col" class="text-dark">Burial Depth</th>
                <th scope="col" class="text-dark">Burial Goods</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Burials)
            {
                <tr>
                    <td class="text-dark">@x.LocationId</td>
                    <td class="text-dark">@x.SouthToHead</td>
                    <td class="text-dark">@x.SouthToFeet.</td>
                    <td class="text-dark">@x.WestToHead</td>
                    <td class="text-dark">@x.WestToFeet</td>
                    <td class="text-dark">@x.Length.</td>
                    <td class="text-dark">@x.BurialDepth</td>
                    <td class="text-dark">@x.AritifactFound2</td>

                    <!--Edit Burial-->
                    <td class="justify-content-center text-center">
                        <form id="@x.BurialId" asp-action="EditBurial" method="post">
                            <input type="hidden" value="@x.BurialId" name="id" />
                            <span class="card-text p-1 text-center">
                                <button type="submit" class="btn btn-warning fas fa-edit text-center" style="font-size:medium"></button>
                            </span>
                        </form>
                    </td>

                    <!--Delete Burial-->
                    <td class="justify-content-center text-center">
                        <form id="@x.BurialId" asp-action="DeleteBurial" method="post">
                            <input type="hidden" value="@x.BurialId" name="id" />
                            <span class="card-text p-1 text-center">
                                <button type="submit" class="btn btn-danger fa fa-trash-alt text-center" style="font-size:medium"></button>
                            </span>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div page-info="@Model.PageNumbering"
         page-url-burialId="@Model.BurialId"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-primary"
         page-class-selected="btn-warning"
         class="btn-group pull-right m-1">
    </div>

</body>
</html>



<script>$(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });</script>