@model Burial
@inject IAuthorizationService AuthorizationService
@inject UserManager<OperationDiggerUser> _userManager
@inject SignInManager<OperationDiggerUser> _signInManager
@{ ViewData["Title"] = "Burial Details"; }

<body class="job-single-page">
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper-->
        <div class="container heading-content">
            <h2 class="headline">@ViewData["Title"]</h2>
            <div class="meta">See details below</div>
        </div><!--//container-->
    </section><!--//heading-section-->

    <br />
    <div id="job-single-block">
        <div class="job-details">
            <div class="cta-container text-center">
                <!--Form that will pass the data to the next view-->
                <div class="container">
                    <div class="row">
                        @*<div class="col-sm-12 mx-auto shadow-lg m-5 rounded" style="border: 3px solid black; background-color: #E4D4C8;">*@
                        <div class="text-left text-dark">

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" style="color:#F89D29!important; font-size:large;" data-toggle="collapse" data-target="#collapsePho" aria-expanded="true" aria-controls="collapsePho">
                                                Photos
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapsePho" class="collapse show" aria-labelledby="headingPho" data-parent="#accordion">
                                        <div class="card-body text-center">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="margin-bottom:0px!important;"><b>Photo</b></p>
                                                    <img class="img-fluid" src="~/img/skull.png" alt="Burial Image" style="width:300px;height:300px">
                                                </div>
                                                <div class="col-4">
                                                    <p style="margin-bottom:0px!important;"><b>Field Notes</b></p>
                                                    <img class="img-fluid" src="~/img/skull.png" alt="Burial Image" style="width:300px;height:300px">
                                                </div>
                                                <div class="col-4">
                                                    <p style="margin-bottom:0px!important;"><b>Bone Books</b></p>
                                                    <img class="img-fluid" src="~/img/skull.png" alt="Burial Image" style="width:300px;height:300px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" style="color: #F89D29!important;font-size:large;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Details #1
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>Location ID:</td>
                                                                <td>@Model.LocationId</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial North/South:</td>
                                                                <td>@Model.BurialNs</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Low North/South:</td>
                                                                <td>@Model.LowNs</td>
                                                            </tr>
                                                            <tr>
                                                                <td>High North/South:</td>
                                                                <td>@Model.HighNs</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial East/West:</td>
                                                                <td>@Model.BurialEw</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Low East/West:</td>
                                                                <td>@Model.LowEw</td>
                                                            </tr>
                                                            <tr>
                                                                <td>High East/West:</td>
                                                                <td>@Model.HighEw</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Subplot:</td>
                                                                <td>@Model.BurialSubplot</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Number:</td>
                                                                <td>@Model.BurialNum</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Gender:</td>
                                                                <td>@Model.Gender</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hair Color:</td>
                                                                <td>@Model.HairColor</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Year Excavated:</td>
                                                                <td>@Model.YearExc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Month Excavated:</td>
                                                                <td>@Model.MonthExc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Day Excavated:</td>
                                                                <td>@Model.DayExc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Head Direction:</td>
                                                                <td>@Model.HeadDirection</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Postcrania Trauma:</td>
                                                                <td>@Model.PostcraniaTrauma</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Year on Skull:</td>
                                                                <td>@Model.YrSkull</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Month on Skull:</td>
                                                                <td>@Model.MtSkull</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Day on Skull:</td>
                                                                <td>@Model.DSkull</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Field Book:</td>
                                                                <td>@Model.FieldBook</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-6">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>Field Book Page Number:</td>
                                                                <td>@Model.FieldBookPgnum</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Data Entry Expert Initials:</td>
                                                                <td>@Model.DexInitials</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Data Entry Checker Initials:</td>
                                                                <td>@Model.DecInitials</td>
                                                            </tr>
                                                            <tr>
                                                                <td>BYU Sample:</td>
                                                                <td>@Model.ByuSample</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Body Analysis:</td>
                                                                <td>@Model.BodyAnalysis</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Skull Magazine:</td>
                                                                <td>@Model.SkullMag</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Postcrania Magazine:</td>
                                                                <td>@Model.PostcraniaMag</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sex Based on Skull:</td>
                                                                <td>@Model.SexSkull</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Age Based on Skull:</td>
                                                                <td>@Model.AgeSkull</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Shelf on Rack:</td>
                                                                <td>@Model.RackShelf</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Skull Trauma:</td>
                                                                <td>@Model.SkullTrauma</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cirbra Orbitala:</td>
                                                                <td>@Model.CribraOrbitala</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Porotic Hyper:</td>
                                                                <td>@Model.PoroticHyperostosis</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Porotic Hyper Location:</td>
                                                                <td>@Model.PoroticHyperostosisLoc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Metopic Suture:</td>
                                                                <td>@Model.MetopicSuture</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Button Osteoma:</td>
                                                                <td>@Model.ButtonOsteoma</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Osteology Unknown Comment:</td>
                                                                <td>@Model.OsteologyUnknownComment</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Temporal Mandibular Joint Osteoarthritis:</td>
                                                                <td>@Model.TemporalMandibularJointOsteoarthritis</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Linear Hypoplasia Enamel:</td>
                                                                <td>@Model.LinearHypoplasiaEnamel</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hill Burial Area:</td>
                                                                <td>@Model.LocationId</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" style="color: #F89D29 !important; font-size:large;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Details #2
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>Tomb</td>
                                                                <td>@Model.Tomb</td>
                                                            </tr>
                                                            <tr>
                                                                <td>West To Head:</td>
                                                                <td>@Model.WestToHead</td>
                                                            </tr>
                                                            <tr>
                                                                <td>West To Feet:</td>
                                                                <td>@Model.WestToFeet</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Preservation:</td>
                                                                <td>@Model.BurialPreservation</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Wrapping:</td>
                                                                <td>@Model.BurialWrapping</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Adult or Child:</td>
                                                                <td>@Model.BurialAc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Gender Method:</td>
                                                                <td>@Model.BurialGendMeth</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Age Code:</td>
                                                                <td>@Model.AgeCode</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Age Death:</td>
                                                                <td>@Model.BurialAgeDeath</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Age Method:</td>
                                                                <td>@Model.BurialAgeMeth</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Hair Color:</td>
                                                                <td>@Model.BurialHc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Sample Taken:</td>
                                                                <td>@Model.BurialSt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Length Meters:</td>
                                                                <td>@Model.LenM</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Length Cm:</td>
                                                                <td>@Model.LenCm</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cluster:</td>
                                                                <td>@Model.Cluster</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Face Bundle:</td>
                                                                <td>@Model.FaceBundle</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Osteology Notes:</td>
                                                                <td>@Model.OsteologyNotes</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Depth:</td>
                                                                <td>@Model.BurialDepth</td>
                                                            </tr>
                                                            <tr>
                                                                <td>South To Head:</td>
                                                                <td>@Model.SouthToHead</td>
                                                            </tr>
                                                            <tr>
                                                                <td>South To Feet:</td>
                                                                <td>@Model.SouthToFeet</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-6">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>Length:</td>
                                                                <td>@Model.Length</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Artifact Found:</td>
                                                                <td>@Model.AritifactFound</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Art Found Description:</td>
                                                                <td>@Model.AritifactFoundDesc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Goods:</td>
                                                                <td>@Model.AritifactFound2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Burial Situation:</td>
                                                                <td>@Model.BurialSituation</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sample Number:</td>
                                                                <td>@Model.SampleNumber</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Gender Giles/Elliot:</td>
                                                                <td>@Model.GenderGe</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Giles/Elliot Function:</td>
                                                                <td>@Model.GeFunction</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Basliar Suture:</td>
                                                                <td>@Model.BasliarSuture</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ventral Arc:</td>
                                                                <td>@Model.VentralArc</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Subpubic Angle:</td>
                                                                <td>@Model.SubpubicAngle</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sciatic Notch:</td>
                                                                <td>@Model.SciaticNotch</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pubic Bone:</td>
                                                                <td>@Model.PubicBone</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Preaur Sulcus:</td>
                                                                <td>@Model.PreaurSulcus</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Medial Ip Ramus:</td>
                                                                <td>@Model.MedialIpRamus</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Dorsal Pitting:</td>
                                                                <td>@Model.DorsalPitting</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Foreman Magnum:</td>
                                                                <td>@Model.ForemanMagnum</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Femur Head:</td>
                                                                <td>@Model.FemurHead</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Humerus Head:</td>
                                                                <td>@Model.HumerusHead</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Osteophytosis:</td>
                                                                <td>@Model.Osteophytosis</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" style="color: #F89D29!important; font-size:large;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Details #3
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>Pubic Symphysis:</td>
                                                                <td>@Model.PubicSymphysis</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Humerus:</td>
                                                                <td>@Model.Humerus</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Femur Length:</td>
                                                                <td>@Model.FemurLength</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Humerus Length:</td>
                                                                <td>@Model.HumerusLength</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tibia Length:</td>
                                                                <td>@Model.TibiaLength</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Robust:</td>
                                                                <td>@Model.Robust</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Supraorbital Ridges:</td>
                                                                <td>@Model.SupraorbitalRidges</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Orbit Edge:</td>
                                                                <td>@Model.AgeCode</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Parietal Bossing:</td>
                                                                <td>@Model.ParietalBossing</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Gonian:</td>
                                                                <td>@Model.Gonian</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Nuchal Crest:</td>
                                                                <td>@Model.NuchalCrest</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Zygomatic Crest:</td>
                                                                <td>@Model.ZygomaticCrest</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cranial Suture:</td>
                                                                <td>@Model.CranialSuture</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Maximum Cranial Len:</td>
                                                                <td>@Model.MaximumCranialLength</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Maximum Cranial Breadth:</td>
                                                                <td>@Model.MaximumCranialBreadth</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Basion Bregma Height:</td>
                                                                <td>@Model.BasionBregmaHeight</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Basion Nasion:</td>
                                                                <td>@Model.BasionNasion</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Basion Pros Length:</td>
                                                                <td>@Model.BasionProsthionLength</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bizygomatic Diameter:</td>
                                                                <td>@Model.BizygomaticDiameter</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Nasion Prosthion:</td>
                                                                <td>@Model.NasionProsthion</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-6">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td>Maximum Nasal Breadth:</td>
                                                                <td>@Model.MaximumNasalBreadth</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Interorbital Breadth:</td>
                                                                <td>@Model.InterorbitalBreadth</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pres Index:</td>
                                                                <td>@Model.PreservationIndex</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Description Of Taken:</td>
                                                                <td>@Model.DescriptionOfTaken</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Estimate Age:</td>
                                                                <td>@Model.EstimateAge</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Estimate Living Stature:</td>
                                                                <td>@Model.EstimateLivingStature</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tooth Attrition:</td>
                                                                <td>@Model.ToothAttrition</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tooth Eruption:</td>
                                                                <td>@Model.ToothEruption</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pathology Anomalies:</td>
                                                                <td>@Model.PathologyAnomalies</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Epiphyseal Union:</td>
                                                                <td>@Model.EpiphysealUnion</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hair Taken:</td>
                                                                <td>@Model.HairTaken</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Soft Tissue Taken:</td>
                                                                <td>@Model.SoftTissueTaken</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bone Taken:</td>
                                                                <td>@Model.BoneTaken</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tooth Taken:</td>
                                                                <td>@Model.ToothTaken</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Textile Taken:</td>
                                                                <td>@Model.TextileTaken</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Field Notes:</td>
                                                                <td>@Model.Notes</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div><!--//job-details-->
        </div><!--//job-single-->
    </div>

    <!-- Javascript -->
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/vanilla-back-to-top.min.js"></script>
    <script src="assets/plugins/smoothscroll.min.js"></script>
    <script src="assets/js/main.js"></script>

    <div class="m-3">
        <a class="button btn btn-sm btn-secondary px-4 pt-2 float-right" style="font-size:small!important;margin:10px!important" asp-action="BurialList">Back to Burial List</a>
        @if (_signInManager.IsSignedIn(User) && User.IsInRole("Researcher") || User.IsInRole("Admin"))
        {
            <a class="button btn btn-sm btn-secondary px-4 pt-2 float-right" style="font-size:small!important;margin:10px!important" asp-authorize asp-action="EditBurial" asp-route-id="@Model.BurialId">Edit Burial Record</a>
        }


    </div>

</body>