@model BurialListViewModel

@{
    ViewData["Title"] = "Burial List";
}

<div class="mt-20">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-dark">Burial ID</th>
                <th scope="col" class="text-dark">Location ID</th>
                <th scope="col" class="text-dark">South To Head</th>
                <th scope="col" class="text-dark">South To Feet</th>
                <th scope="col" class="text-dark">West to Head</th>
                <th scope="col" class="text-dark">West To Feet</th>
                <th scope="col" class="text-dark">Length</th>
                <th scope="col" class="text-dark">Burial Depth</th>
                <th scope="col" class="text-dark">Burial Goods</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Burials)
            {
                <tr>
                    <td class="text-dark">@b.BurialId</td>
                    <td class="text-dark">@b.LocationId</td>
                    <td class="text-dark">@b.SouthToHead</td>
                    <td class="text-dark">@b.SouthToFeet</td>
                    <td class="text-dark">@b.WestToHead</td>
                    <td class="text-dark">@b.WestToFeet</td>
                    <td class="text-dark">@b.Length</td>
                    <td class="text-dark">@b.BurialDepth</td>
                    <td class="text-dark">@b.AritifactFound2</td>
                    <td>
                        <a asp-action="EditBurial" asp-route-id="@b.BurialId">Edit</a> |
                        <a asp-action="BurialDetails" asp-route-id="@b.BurialId">Details</a> |
                        <a asp-action="DeleteBurial" asp-route-id="@b.BurialId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div page-info="@Model.PageNumbering"
         page-url-burialId="@Model.BurialId"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-primary"
         page-class-selected="btn-warning"
         class="btn-group pull-right m-1">
    </div>

</div>

<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>