@model BurialListViewModel
@inject SignInManager<OperationDiggerUser> _signInManager

@{
    ViewData["Title"] = "Burial Summary List";
}



<body class="job-single-page">
    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="list-hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper-->
        <div class="container heading-content">
            <h2 class="headline">@ViewData["Title"]</h2>
            <div class="meta">See details below</div>
        </div><!--//container-->
    </section><!--//heading-section-->

    <div>
        <vc:filter />
    </div>

    <div id="job-single-block">
        <div class="job-details">
            <div class="cta-container text-center">
                <!--Form that will pass the data to the next view-->
                <div class="container-xxl">
                    <div class="row" style="margin-top: 30px!important;">
                        <div>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        @*<th scope="col" class="text-dark">Burial ID</th>*@
                                        <th scope="col" class="text-dark">Location ID</th>
                                        <th scope="col" class="text-dark">South To Head</th>
                                        <th scope="col" class="text-dark">South To Feet</th>
                                        <th scope="col" class="text-dark">West to Head</th>
                                        <th scope="col" class="text-dark">West To Feet</th>
                                        <th scope="col" class="text-dark">Length</th>
                                        <th scope="col" class="text-dark">Burial Depth</th>
                                        <th scope="col" class="text-dark">Burial Goods</th>
                                        @*<th scope="col" class="text-dark">Date</th>
                                            <th scope="col" class="text-dark">Time</th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var b in Model.Burials)
                                    {
                                        <tr>
                                            @*<td class="text-dark">@b.BurialId</td>*@
                                            <td class="text-dark">@b.LocationId</td>
                                            <td class="text-dark">@b.SouthToHead</td>
                                            <td class="text-dark">@b.SouthToFeet</td>
                                            <td class="text-dark">@b.WestToHead</td>
                                            <td class="text-dark">@b.WestToFeet</td>
                                            <td class="text-dark">@b.Length</td>
                                            <td class="text-dark">@b.BurialDepth</td>
                                            <td class="text-dark">@b.AritifactFound2</td>
                                            @*<td class="text-dark">@b.CreatedAtDate</td>
                                                <td class="text-dark">@b.CreatedAtTime</td>*@
                                        <td>
                                            @if (_signInManager.IsSignedIn(User) && User.IsInRole("Researcher") || User.IsInRole("Admin"))
                                            {
                                                <a asp-action="EditBurial" asp-route-id="@b.BurialId">Edit | </a>
                                            }
                                            <a asp-action="BurialDetails" asp-route-id="@b.BurialId">Details</a>
                                            @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                            {
                                                <a asp-action="DeleteBurial" asp-route-id="@b.BurialId"> | Delete</a>
                                            }

                                        </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div page-info="@Model.PageNumbering"
                                 filters="@Model.Filters"
                                 page-url-burialId="@Model.BurialId"
                                 page-classes-enabled="true"
                                 page-class="btn"
                                 page-class-normal="btn-primary"
                                 page-class-selected="btn-warning"
                                 class="btn-group pull-right m-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



<script>$(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });</script>
