@model OperationDigger.Models.Burial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Burial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSubplot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSubplot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearExc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearExc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthExc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthExc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayExc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayExc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostcraniaTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostcraniaTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YrSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YrSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldBookPgnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldBookPgnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DexInitials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DexInitials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecInitials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecInitials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ByuSample)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ByuSample)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyAnalysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyAnalysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostcraniaMag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostcraniaMag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeSkull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeSkull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RackShelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RackShelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkullTrauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkullTrauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CribraOrbitala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CribraOrbitala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoroticHyperostosisLoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoroticHyperostosisLoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetopicSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetopicSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButtonOsteoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButtonOsteoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsteologyUnknownComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsteologyUnknownComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporalMandibularJointOsteoarthritis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporalMandibularJointOsteoarthritis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinearHypoplasiaEnamel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HillBurialsA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HillBurialsA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tomb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tomb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WestToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WestToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WestToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WestToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialPreservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialPreservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialWrapping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialWrapping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialAc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialAc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialGendMeth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialGendMeth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialAgeDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialAgeDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialAgeMeth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialAgeMeth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialHc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialHc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LenM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LenM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LenCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LenCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cluster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cluster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceBundle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceBundle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsteologyNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsteologyNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SouthToHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SouthToFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SouthToFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AritifactFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AritifactFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AritifactFoundDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AritifactFoundDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AritifactFound2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AritifactFound2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSituation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSituation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderGe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderGe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeFunction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeFunction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasliarSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasliarSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentralArc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentralArc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubpubicAngle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubpubicAngle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SciaticNotch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SciaticNotch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubicBone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubicBone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreaurSulcus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreaurSulcus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedialIpRamus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedialIpRamus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DorsalPitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DorsalPitting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForemanMagnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForemanMagnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemurHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemurHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumerusHead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumerusHead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osteophytosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osteophytosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubicSymphysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubicSymphysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoneLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoneLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedialClavicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedialClavicle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IliacCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IliacCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemurDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemurDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humerus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humerus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemurLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemurLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HumerusLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumerusLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TibiaLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TibiaLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Robust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Robust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupraorbitalRidges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupraorbitalRidges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrbitEdge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrbitEdge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParietalBossing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParietalBossing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gonian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gonian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuchalCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuchalCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZygomaticCrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZygomaticCrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CranialSuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CranialSuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumCranialBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionBregmaHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionBregmaHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionNasion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionNasion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasionProsthionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasionProsthionLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BizygomaticDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BizygomaticDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NasionProsthion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NasionProsthion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumNasalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterorbitalBreadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterorbitalBreadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreservationIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreservationIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateLivingStature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateLivingStature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothAttrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothAttrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothEruption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothEruption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathologyAnomalies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathologyAnomalies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpiphysealUnion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpiphysealUnion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftTissueTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftTissueTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoneTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoneTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToothTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToothTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextileTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextileTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BurialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
